body {
  background-color: lightgreen;
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  font-size: 50px;
  font-family: fantasy;
}

img {
    width: 250px;
    height: auto;
    border: 15px black solid;
    border-radius: 200px;
}
