body {
  background-color:lavender;
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}

h1{
  font-size: 40px;
font-family: cursive;

}

h2{
  font-family: monospace;:
}

h3{
  font-family: serif;
}

img {
  width: 100px;
  height: auto;
  border: solid lightgreen 5px;
  border-radius: 10px;
}
